@page
@model NossospcrModel

@{
    ViewData["Title"] = "nossospdc";
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossos Parceiros</title>
    <link href="~/css/app.css" rel="stylesheet" />
    <link href="~/css/Nossospcr.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;700&display=swap">
</head>
<body>
    <div class="work-section-wrapper">
        <div class="work-section-top">
            <h1 class="primary-heading">Nossos Parceiros</h1>
        </div>
        <div class="work-section-bottom">
            <div class="work-section-info">
                <div class="info-boxes-img-container">
                    <img src="../Imagens/assai.png" alt="Banner FEA">
                </div>
                <h2>Assaí</h2>
                <p class="assai">Assaí Atacadista é uma empresa brasileira de atacarejo que atende pequenos e médios comerciantes. Com uma proposta de oferecer preços competitivos e uma ampla gama de produtos, o Assaí se tornou uma escolha popular para quem busca fazer compras em grande quantidade e economizar.</p>
            </div>
            <div class="work-section-info">
                <div class="info-boxes-img-container">
                    <img src="../Imagens/Carrefour.jpg" alt="Banner FEA">
                </div>

                <h2>Carrefour</h2>
                <p class="carrefour">O Carrefour é uma rede de supermercados e hipermercados que oferece uma variedade de produtos, desde alimentos até eletrodomésticos, móveis e eletrônicos. O Grupo Carrefour se tornou o maior varejista alimentar do país.</p>
            </div>
            <div class="work-section-info">
                <div class="info-boxes-img-container">
                    <img src="../Imagens/sam.png" alt="Banner FEA">
                </div>

                <h2>Sam’s</h2>
                <p class="sams">O Sam’s Club é uma rede de clubes de compras que oferece produtos exclusivos, nacionais e importados. Tudo isso com preços exclusivos para os membros. Se você ainda não é sócio, pode se cadastrar e aproveitar todas as vantagens dessa rede de compras.</p>
            </div>
            <div class="work-section-info">
                <div class="info-boxes-img-container">
                    <img src="../Imagens/atacadao.jpg" alt="Banner FEA">
                </div>

                <h2>Atacadão</h2>
                <p class="atacadao">O Atacadão é uma rede brasileira de supermercados atacado-varejista, pertencente ao Grupo Carrefour Brasil. Com presença em mais de 200 cidades distribuídas por todos os estados do Brasil, o Atacadão é líder no segmento de atacarejo (cash & carry) e está em rápida expansão.</p>
            </div>
            <div class="work-section-info">
                <div class="info-boxes-img-container">
                    <img src="../Imagens/redemix.jpg" alt="Banner FEA">
                </div>

                <h2>Redemix</h2>
                <p class="redemix">O RedeMix é um supermercado que oferece uma variedade de produtos, desde bebidas e alimentos até itens de higiene e limpeza. Compras online são possíveis, e os clientes podem receber os produtos em casa com comodidade e segurança.</p>
            </div>
            <div class="work-section-info">
                <div class="info-boxes-img-container">
                    <img src="../Imagens/hiperieal.jpg" alt="Banner FEA">
                </div>
                <h2>Hiperideal</h2>
                <p class="hiperideal">Hiperideal é uma rede de supermercados que oferece uma combinação de preço baixo, variedade, qualidade e praticidade. Com mais de 20 mil itens disponíveis, grande variedade de marcas e um ambiente confortável.</p>
            </div>
        </div>
    </div>
</body>
</html>
